<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseTexture</key>
	<string>dirt.png</string>
	<key>baseTextureSize</key>
	<integer>32</integer>
	<key>size</key>
	<integer>100</integer>
	<key>treeTexture</key>
	<string>tree.png</string>
	<key>mapType</key>
	<string>grown</string>
</dict>
</plist>
